USE [master]
GO
/****** Object:  Database [Spa]    Script Date: 6/22/2025 5:40:15 PM ******/
CREATE DATABASE [Spa]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Spa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Spa]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ServiceId] [int] NULL,
	[StaffId] [int] NULL,
	[RoomId] [int] NULL,
	[ScheduledAt] [datetime] NULL,
	[Status] [nvarchar](30) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](100) NOT NULL,
	[Subject] [nvarchar](255) NOT NULL,
	[Message] [text] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCodes]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[MinOrderAmount] [decimal](10, 2) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Quantity] [int] NULL,
	[Used] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[Rating] [int] NULL,
	[Responded] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[AppointmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackResponse]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackResponse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FeedbackId] [int] NOT NULL,
	[Content] [text] NOT NULL,
	[RespondedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PointsChange] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notify]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notify](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NULL,
	[actionUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [text] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[imgURL] [nvarchar](max) NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 6/22/2025 5:40:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NULL,
	[Value] [varchar](150) NULL,
	[Order] [int] NULL,
	[CreatedBy] [int] NULL,
	[isDeleted] [bit] NULL,
	[description] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaService]    Script Date: 6/22/2025 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[DurationMinutes] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[CategoryID] [int] NULL,
	[Image] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaServiceRoom]    Script Date: 6/22/2025 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaServiceRoom](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpaServiceId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpaServiceStaff]    Script Date: 6/22/2025 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpaServiceStaff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpaServiceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportRequests]    Script Date: 6/22/2025 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Subject] [nvarchar](255) NULL,
	[Message] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/22/2025 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](100) NULL,
	[Fullname] [nvarchar](255) NULL,
	[Gender] [varchar](10) NULL,
	[Address] [varchar](255) NULL,
	[Phone] [varchar](20) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Avatar] [text] NULL,
	[ChangeHistory] [nvarchar](max) NULL,
	[RoleId] [int] NULL,
	[loyaltyPoints] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDiscountCodes]    Script Date: 6/22/2025 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDiscountCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DiscountCodeId] [int] NOT NULL,
	[UsedAt] [datetime] NULL,
	[IsUsed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedules]    Script Date: 6/22/2025 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NULL,
	[DayOfWeek] [nvarchar](10) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [UserId], [ServiceId], [StaffId], [RoomId], [ScheduledAt], [Status], [CreatedAt]) VALUES (1, 1, 2, 2, 2, CAST(N'2025-05-28T11:14:43.903' AS DateTime), N'Cancelled', CAST(N'2025-05-28T11:14:43.907' AS DateTime))
INSERT [dbo].[Appointments] ([Id], [UserId], [ServiceId], [StaffId], [RoomId], [ScheduledAt], [Status], [CreatedAt]) VALUES (2, 1, 5, 1, 5, CAST(N'2025-05-28T14:08:26.287' AS DateTime), N'Cancelled', CAST(N'2025-05-28T14:08:26.287' AS DateTime))
INSERT [dbo].[Appointments] ([Id], [UserId], [ServiceId], [StaffId], [RoomId], [ScheduledAt], [Status], [CreatedAt]) VALUES (3, 1, 1, 2, 2, CAST(N'2025-05-28T14:22:35.157' AS DateTime), N'Cancelled', CAST(N'2025-05-28T14:22:35.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [IsDeleted], [CreatedAt], [CreatedBy], [Image]) VALUES (2, N'Massage Therapy', 0, CAST(N'2025-05-26T11:21:54.033' AS DateTime), 4, N'https://florida-academy.edu/wp-content/uploads/2019/11/MassageTherapyFAQs-FloridaAcademy-1500x1000.jpeg')
INSERT [dbo].[Category] ([ID], [Name], [IsDeleted], [CreatedAt], [CreatedBy], [Image]) VALUES (3, N'Facial Treatments', 0, CAST(N'2025-05-26T11:21:54.033' AS DateTime), 4, N'https://cdn.prod.website-files.com/618c2d9666a1e4c15855f5a2/61b429b4e5b5815eaca788f2_Facials-scaled.jpeg')
INSERT [dbo].[Category] ([ID], [Name], [IsDeleted], [CreatedAt], [CreatedBy], [Image]) VALUES (4, N'Body Scrub', 0, CAST(N'2025-05-26T11:21:54.033' AS DateTime), 4, N'https://irp.cdn-website.com/3ec89f3b/dms3rep/multi/blog4.jpg')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([Id], [Name], [Email], [PhoneNumber], [Subject], [Message], [CreatedAt]) VALUES (1, N'Hoa', N'hoaspa@gmail.com', N'0987654321', N'Giá', N'H?i giá', NULL)
INSERT [dbo].[Contact] ([Id], [Name], [Email], [PhoneNumber], [Subject], [Message], [CreatedAt]) VALUES (2, N'Hehe', N'adfa@gamilcmom', N'adf', N'adf', N'adf', CAST(N'2025-06-16T21:50:42.730' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[DiscountCodes] ON 

INSERT [dbo].[DiscountCodes] ([Id], [Code], [Description], [DiscountType], [DiscountValue], [MinOrderAmount], [StartDate], [EndDate], [Quantity], [Used], [IsActive], [CreatedAt]) VALUES (1, N'SALE10', N'Gi?m 10% cho don hàng d?u tiên', N'Percentage', CAST(10.00 AS Decimal(10, 2)), CAST(200000.00 AS Decimal(10, 2)), CAST(N'2025-06-16T09:05:53.580' AS DateTime), CAST(N'2025-07-16T09:05:53.580' AS DateTime), 100, 0, 1, CAST(N'2025-06-16T09:05:53.580' AS DateTime))
INSERT [dbo].[DiscountCodes] ([Id], [Code], [Description], [DiscountType], [DiscountValue], [MinOrderAmount], [StartDate], [EndDate], [Quantity], [Used], [IsActive], [CreatedAt]) VALUES (2, N'FIX50K', N'Gi?m 50.000d cho don trên 500.000d', N'FixedAmount', CAST(5.00 AS Decimal(10, 2)), CAST(500000.00 AS Decimal(10, 2)), CAST(N'2025-06-16T09:05:53.580' AS DateTime), CAST(N'2025-07-06T09:05:53.580' AS DateTime), 50, 0, 1, CAST(N'2025-06-16T09:05:53.580' AS DateTime))
INSERT [dbo].[DiscountCodes] ([Id], [Code], [Description], [DiscountType], [DiscountValue], [MinOrderAmount], [StartDate], [EndDate], [Quantity], [Used], [IsActive], [CreatedAt]) VALUES (3, N'FREESHIP', N'Mi?n phí v?n chuy?n', N'FixedAmount', CAST(3.00 AS Decimal(10, 2)), CAST(150000.00 AS Decimal(10, 2)), CAST(N'2025-06-16T09:05:53.580' AS DateTime), CAST(N'2025-06-26T09:05:53.580' AS DateTime), 500, 50, 1, CAST(N'2025-06-16T09:05:53.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[DiscountCodes] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([Id], [UserId], [Content], [Rating], [Responded], [CreatedAt], [AppointmentId]) VALUES (1, 1, N'The massage therapy was incredibly relaxing. Highly recommend!', 5, 1, CAST(N'2025-05-26T14:46:16.953' AS DateTime), 1)
INSERT [dbo].[Feedback] ([Id], [UserId], [Content], [Rating], [Responded], [CreatedAt], [AppointmentId]) VALUES (2, 2, N'The facial treatment left my skin glowing. Excellent service!', 4, 0, CAST(N'2025-05-26T14:46:16.953' AS DateTime), 1)
INSERT [dbo].[Feedback] ([Id], [UserId], [Content], [Rating], [Responded], [CreatedAt], [AppointmentId]) VALUES (3, 3, N'Nice ambiance and friendly staff. Steam bath was refreshing!', 5, 1, CAST(N'2025-05-26T14:46:16.953' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedbackResponse] ON 

INSERT [dbo].[FeedbackResponse] ([Id], [FeedbackId], [Content], [RespondedAt]) VALUES (1, 2, N'Thank you very much!', CAST(N'2025-06-15T16:33:02.870' AS DateTime))
INSERT [dbo].[FeedbackResponse] ([Id], [FeedbackId], [Content], [RespondedAt]) VALUES (2, 1, N'Ok', CAST(N'2025-06-16T15:40:31.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[FeedbackResponse] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Id], [AppointmentId], [TotalAmount], [PaymentMethod], [PointsChange], [CreatedAt]) VALUES (1, 1, CAST(50.00 AS Decimal(10, 2)), N'vnpay', 50, CAST(N'2025-06-09T14:11:33.530' AS DateTime))
INSERT [dbo].[Invoices] ([Id], [AppointmentId], [TotalAmount], [PaymentMethod], [PointsChange], [CreatedAt]) VALUES (2, 2, CAST(300000.00 AS Decimal(10, 2)), N'VNPAY', 30, CAST(N'2025-06-09T14:11:33.530' AS DateTime))
INSERT [dbo].[Invoices] ([Id], [AppointmentId], [TotalAmount], [PaymentMethod], [PointsChange], [CreatedAt]) VALUES (3, 3, CAST(450000.00 AS Decimal(10, 2)), N'Direct', 45, CAST(N'2025-06-09T14:11:33.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([ID], [Title], [Content], [IsDeleted], [CreatedAt], [CreatedBy], [imgURL], [CategoryID]) VALUES (3, N'test', N'', 0, CAST(N'2025-05-29T20:11:02.690' AS DateTime), 1, N'https://static.vecteezy.com/system/resources/previews/002/055/099/non_2x/top-view-of-an-herbal-spa-treatment-on-light-wood-free-photo.jpg', 9)
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name], [IsDeleted], [CreatedAt]) VALUES (1, N'Khách hàng', 0, CAST(N'2025-05-26T11:10:36.027' AS DateTime))
INSERT [dbo].[Role] ([ID], [Name], [IsDeleted], [CreatedAt]) VALUES (2, N'Chuyên viên tr? li?u', 0, CAST(N'2025-05-26T11:10:36.027' AS DateTime))
INSERT [dbo].[Role] ([ID], [Name], [IsDeleted], [CreatedAt]) VALUES (3, N'L? tân', 0, CAST(N'2025-05-26T11:10:36.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [Name], [IsAvailable]) VALUES (1, N'Room 101 - Full Body Relaxation Massage', 1)
INSERT [dbo].[Rooms] ([Id], [Name], [IsAvailable]) VALUES (2, N'Room 102 - Dry Sauna', 1)
INSERT [dbo].[Rooms] ([Id], [Name], [IsAvailable]) VALUES (3, N'Room 103 - Hot Stone Therapy', 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[SpaService] ON 

INSERT [dbo].[SpaService] ([Id], [Name], [Description], [DurationMinutes], [Price], [IsActive], [CategoryID], [Image]) VALUES (1, N'Swedish Massage', N'A full-body massage using long, gliding strokes to relax muscles.', 60, CAST(70.00 AS Decimal(10, 2)), 1, 2, N'https://www.communityamenitymanagement.com/wp-content/uploads/2022/05/93546969_presentation-wide.jpg')
INSERT [dbo].[SpaService] ([Id], [Name], [Description], [DurationMinutes], [Price], [IsActive], [CategoryID], [Image]) VALUES (2, N'Deep Cleansing Facial', N'A rejuvenating facial treatment for all skin types.', 45, CAST(50.00 AS Decimal(10, 2)), 1, 3, N'https://www.communityamenitymanagement.com/wp-content/uploads/2022/05/93546969_presentation-wide.jpg')
INSERT [dbo].[SpaService] ([Id], [Name], [Description], [DurationMinutes], [Price], [IsActive], [CategoryID], [Image]) VALUES (3, N'Hot Stone Therapy', N'Smooth, heated stones are placed on key points of the body.', 75, CAST(90.00 AS Decimal(10, 2)), 1, 8, N'https://www.communityamenitymanagement.com/wp-content/uploads/2022/05/93546969_presentation-wide.jpg')
SET IDENTITY_INSERT [dbo].[SpaService] OFF
GO
SET IDENTITY_INSERT [dbo].[SpaServiceRoom] ON 

INSERT [dbo].[SpaServiceRoom] ([Id], [SpaServiceId], [RoomId]) VALUES (11, 1, 1)
INSERT [dbo].[SpaServiceRoom] ([Id], [SpaServiceId], [RoomId]) VALUES (12, 1, 2)
INSERT [dbo].[SpaServiceRoom] ([Id], [SpaServiceId], [RoomId]) VALUES (13, 1, 3)
SET IDENTITY_INSERT [dbo].[SpaServiceRoom] OFF
GO
SET IDENTITY_INSERT [dbo].[SpaServiceStaff] ON 

INSERT [dbo].[SpaServiceStaff] ([Id], [SpaServiceId], [UserId]) VALUES (1, 1, 1)
INSERT [dbo].[SpaServiceStaff] ([Id], [SpaServiceId], [UserId]) VALUES (2, 1, 2)
INSERT [dbo].[SpaServiceStaff] ([Id], [SpaServiceId], [UserId]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[SpaServiceStaff] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Email], [Password], [Fullname], [Gender], [Address], [Phone], [IsDeleted], [CreatedAt], [CreatedBy], [Avatar], [ChangeHistory], [RoleId], [loyaltyPoints]) VALUES (2, N'therapist01@spa.vn', N'123456', N'Phạm Văn Minh', N'1', N'45 Hai Bà Trung, Hà N?i', N'0912345678', 0, CAST(N'2025-05-29T20:06:04.653' AS DateTime), 1, N'https://static.vecteezy.com/system/resources/previews/036/280/651/original/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-illustration-vector.jpg', NULL, 2, 0)
INSERT [dbo].[User] ([ID], [Email], [Password], [Fullname], [Gender], [Address], [Phone], [IsDeleted], [CreatedAt], [CreatedBy], [Avatar], [ChangeHistory], [RoleId], [loyaltyPoints]) VALUES (3, N'letan01@spa.vn', N'123456', N'Lê Thu Hồng', N'0', N'88 Nguy?n Hu?, Ðà N?ng', N'0923456789', 0, CAST(N'2025-05-29T20:06:04.653' AS DateTime), 1, N'https://static.vecteezy.com/system/resources/previews/036/280/651/original/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-illustration-vector.jpg', NULL, 3, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDiscountCodes] ON 

INSERT [dbo].[UserDiscountCodes] ([Id], [UserId], [DiscountCodeId], [UsedAt], [IsUsed]) VALUES (1, 1, 1, NULL, 0)
INSERT [dbo].[UserDiscountCodes] ([Id], [UserId], [DiscountCodeId], [UsedAt], [IsUsed]) VALUES (2, 1, 2, NULL, 0)
INSERT [dbo].[UserDiscountCodes] ([Id], [UserId], [DiscountCodeId], [UsedAt], [IsUsed]) VALUES (3, 1, 3, NULL, 0)
SET IDENTITY_INSERT [dbo].[UserDiscountCodes] OFF
GO
/****** Object:  Index [UQ_SpaServiceRoom]    Script Date: 6/22/2025 5:40:16 PM ******/
ALTER TABLE [dbo].[SpaServiceRoom] ADD  CONSTRAINT [UQ_SpaServiceRoom] UNIQUE NONCLUSTERED 
(
	[SpaServiceId] ASC,
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SpaServiceUser]    Script Date: 6/22/2025 5:40:16 PM ******/
ALTER TABLE [dbo].[SpaServiceStaff] ADD  CONSTRAINT [UQ_SpaServiceUser] UNIQUE NONCLUSTERED 
(
	[SpaServiceId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ((0)) FOR [Responded]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notify] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notify] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[SpaService] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT ('open') FOR [Status]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [df_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('https://www.svgrepo.com/show/452030/avatar-default.svg') FOR [Avatar]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_Employees_IsActive]  DEFAULT ((1)) FOR [RoleId]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [loyaltyPoints]
GO
ALTER TABLE [dbo].[UserDiscountCodes] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[SpaService] ([Id])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[Notify]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Settings]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[SpaService]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[SpaServiceRoom]  WITH CHECK ADD  CONSTRAINT [FK_SpaServiceRoom_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[SpaServiceRoom] CHECK CONSTRAINT [FK_SpaServiceRoom_Room]
GO
ALTER TABLE [dbo].[SpaServiceRoom]  WITH CHECK ADD  CONSTRAINT [FK_SpaServiceRoom_SpaService] FOREIGN KEY([SpaServiceId])
REFERENCES [dbo].[SpaService] ([Id])
GO
ALTER TABLE [dbo].[SpaServiceRoom] CHECK CONSTRAINT [FK_SpaServiceRoom_SpaService]
GO
ALTER TABLE [dbo].[SpaServiceStaff]  WITH CHECK ADD  CONSTRAINT [FK_SpaServiceUser_SpaService] FOREIGN KEY([SpaServiceId])
REFERENCES [dbo].[SpaService] ([Id])
GO
ALTER TABLE [dbo].[SpaServiceStaff] CHECK CONSTRAINT [FK_SpaServiceUser_SpaService]
GO
ALTER TABLE [dbo].[SpaServiceStaff]  WITH CHECK ADD  CONSTRAINT [FK_SpaServiceUser_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[SpaServiceStaff] CHECK CONSTRAINT [FK_SpaServiceUser_User]
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[UserDiscountCodes]  WITH CHECK ADD  CONSTRAINT [FK_UserDiscountCodes_DiscountCode] FOREIGN KEY([DiscountCodeId])
REFERENCES [dbo].[DiscountCodes] ([Id])
GO
ALTER TABLE [dbo].[UserDiscountCodes] CHECK CONSTRAINT [FK_UserDiscountCodes_DiscountCode]
GO
ALTER TABLE [dbo].[UserDiscountCodes]  WITH CHECK ADD  CONSTRAINT [FK_UserDiscountCodes_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[UserDiscountCodes] CHECK CONSTRAINT [FK_UserDiscountCodes_User]
GO
ALTER TABLE [dbo].[WorkSchedules]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
